a {
    text-decoration: none;
    color: blue;
}

.navbar {
    background-color: #1abc9c;
}

.navbar ul a {
    color: white;
    border-radius: 10px;
}

.navbar ul a:hover {
    background-color: #15997e;
}

.navbar-toggler {
    filter: brightness(0) invert(1);
    border: white solid 1px;
}

#logo {
    border-radius: 10px;
}

main {
    margin-top: 100px;
}