a {
    text-decoration: none;
    color: blue;
}

#navbar {
    background-color: white;
}

#navbar ul a {
    color: white;
    color: #1abc9c;
    border-radius: 10px;
}

#navbar ul a:hover {
    color: white;
    background-color: #1abc9c;
}

.navbar-toggler {
    border: #1abc9c solid 2px;
}

#logo {
    border-radius: 10px;
}

body {
    padding-top: 100px;
}

.splitter {
    background-color: #1abc9c;
    height: 250px;
}